// Media Query Mixins
@mixin mobile {
    @media ($mobile) {
        @content;
    }
}

@mixin mobileLarge {
    @media ($mobileLarge) {
        @content;
    }
}

@mixin small {
    @media ($small) {
        @content;
    }
}

@mixin large {
    @media ($large) {
        @content;
    }
}

@mixin extraLarge {
    @media ($extraLarge) {
        @content;
    }
}

// Themes

@mixin light {
    background-color: $black;
    color: $white;
}

@mixin dark {
    background-color: $white;
    color: $black;
}

// Links

@mixin roundedOrange {
    background-color: orange;
    color: white;
    padding: .5rem 1.2rem;
    border-radius: 40px;
    font-size: 1.5rem;
}

@mixin roundedTrans {
    background-color: transparent;
    color: black;
    padding: .5rem 1.2rem;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 1px solid orange;
    white-space: nowrap;
}